html {
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

#joyeux {
  -webkit-animation-name: aller;
          animation-name: aller;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(0.5, -1, 0.5, 2);
          animation-timing-function: cubic-bezier(0.5, -1, 0.5, 2);
}

@-webkit-keyframes aller {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
            transform: translate(0px, 0px) rotate(0);
  }
  100% {
    -webkit-transform: translate(60px, 30px) rotate(50deg);
            transform: translate(60px, 30px) rotate(50deg);
  }
}

@keyframes aller {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0);
            transform: translate(0px, 0px) rotate(0);
  }
  100% {
    -webkit-transform: translate(60px, 30px) rotate(50deg);
            transform: translate(60px, 30px) rotate(50deg);
  }
}

@-webkit-keyframes atchoum {
  0% {
    -webkit-transform: translate(0px, 0px) rotateY(0deg);
            transform: translate(0px, 0px) rotateY(0deg);
  }
  50% {
    -webkit-transform: translate(-150px, 0px) rotateY(720deg);
            transform: translate(-150px, 0px) rotateY(720deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateY(720deg);
            transform: translate(0px, 0px) rotateY(720deg);
  }
}

@keyframes atchoum {
  0% {
    -webkit-transform: translate(0px, 0px) rotateY(0deg);
            transform: translate(0px, 0px) rotateY(0deg);
  }
  50% {
    -webkit-transform: translate(-150px, 0px) rotateY(720deg);
            transform: translate(-150px, 0px) rotateY(720deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotateY(720deg);
            transform: translate(0px, 0px) rotateY(720deg);
  }
}

body {
  background-color: #990099;
}

#plateau {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #ffccff;
  margin: 0 auto;
  overflow: hidden;
}

#plateau .texte {
  font-size: 200px;
  font-family: impact, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffb3ff;
  line-height: .9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nain {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

#atchoum {
  left: 10px;
  top: 420px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#dormeur {
  left: 220px;
  top: 250px;
}

#grincheux {
  left: 450px;
  top: 430px;
}

#joyeux {
  left: 50px;
  top: 160px;
}

#prof {
  left: 230px;
  top: 20px;
}

#simplet {
  left: 170px;
  top: 440px;
}

#timide {
  left: 420px;
  top: 160px;
}
/*# sourceMappingURL=style.css.map */